.promotion__discount .input-with-button {
  display: inline-flex;
  position: relative;
}

.promotion__heading {
  max-width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  flex-shrink: 0;
}

.promotion__container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 12px 15px;
}
@media (min-width: 768px) {
  .promotion__container {
    display: flex;
    row-gap: calc(4 * var(--space-unit));
    padding: 16px 30px;
  }
  .promotion__container .section__block {
    margin-bottom: 0;
  }
  .promotion__button {
    white-space: nowrap;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .promotion__container .rte {
    flex-shrink: 0;
    max-width: 100%;
  }
  .promotion__button {
    width: auto;
    margin-bottom: 0;
  }
  .promotion__discount {
    width: auto;
    flex-shrink: 0;
    text-align: center;
  }
}

.discount-code__success {
  font-weight: 600;
  font-size: 1.2rem;
  position: absolute;
  inset: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discount-code__success > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.promotion-text {
  text-align: center;
}
